<h3>Backoffice > Speakers</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="speaker in speakers">
            <td class="span1">{{speaker.id}}</td>
            <td class="span3">{{speaker.name}}</td>
            <td class="span9">{{speaker.description}}</td>
            <td class="span2">
                <div class="btn-group">
                    <a class="btn btn-small btn-primary" ng-href="#/speaker/edit/{{speaker.id}}">Edit</a>
                    <a class="btn btn-small" ng-click="delete(speaker)">Remove</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a href="#/speaker/create" class="btn">Add speaker</a>