<h3>Backoffice > Conference > Create</h3>
<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="inputId">Id</label>
            <div class="controls">
                <input type="text" id="inputId" disabled ng-model="conference.id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <input type="text" id="inputName" placeholder="Name" ng-model="conference.name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>
            <div class="controls">
                <input type="text" id="inputDescription" placeholder="Description" ng-model="conference.description">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputStartDate">Start date</label>
            <div class="controls">
                <input type="text" id="inputStartDate" placeholder="Start date" ng-model="conference.startDate">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEndDate">End date</label>
            <div class="controls">
                <input type="text" id="inputEndDate" placeholder="End date" ng-model="conference.endDate">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" ng-click="save(conference)">Save</button>
                <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>