<table class="table table-bordered table-hover">
    <caption><h3>Rooms</h3></caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Capacity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="room in rooms">
            <td class="span1">{{room.id}}</td>
            <td class="span9">{{room.name}}</td>
            <td class="span3">{{room.capacity}}</td>
            <td class="span1">
                <div class="btn-group">
                    <button class="btn btn-small btn-primary" ng-click="startEditing(room)">Edit</button>
                    <button class="btn btn-small" ng-click="delete(room)">Remove</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<form class="form-horizontal">
    <fieldset>
        <legend>
            <span ng-hide="editModeEnabled()">Create new Room</span>
            <span ng-show="editModeEnabled()">Edit Room</span>
        </legend>
        <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <input type="text" id="inputName" placeholder="Name" ng-model="room.name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCapacity">Capacity</label>
            <div class="controls">
                <input type="text" id="inputCapacity" placeholder="Capacity" ng-model="room.capacity">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" ng-click="saveRoom()">Save</button>
                <button class="btn" ng-click="cancelEditing()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>