<h3>Conferences</h3>
<p ng-hide="conferences.length">Found no conferences to display.</p>
<accordion close-others="1" ng-show="conferences.length">
    <accordion-group heading="{{conf.name}}" ng-repeat="conf in conferences">
        <p>{{conf.description}}</p>
        <table class="table table-condensed" ng-show="hasTalks(conf)">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="talk in conf.talks">
                <td>{{talk.name}}</td>
                <td>{{talk.description}}</td>
                <td>{{talk.startTime | date:'medium'}}</td>
                <td>{{talk.endTime | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>