<div class="container">
    <ul class="unstyled">
        <li ng-repeat="conf in conferences">
            <div class="well well-small">
                <dl>
                    <dt>{{conf.name}}</dt>
                    <dd>
                        <p>{{conf.description}}</p>
                    </dd>
                </dl>
                <table class="table table-condensed" ng-hide="hideTalkList(conf)">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="talk in conf.talks">
                            <td>{{talk.name}}</td>
                            <td>{{talk.description}}</td>
                            <td>{{talk.startTime | date:'medium'}}</td>
                            <td>{{talk.endTime | date:'medium'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>